#todo-list {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 70px;
   
  }
  body{
    background-color: aqua;
  }
  
  #add-todo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #new-todo {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width:200px;
    height:30px;
    font-weight: 600;
  }
  
  h1{
    font-size:50px;
    font-weight: 900;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    
  }
  button{
    height:50px;
  }

  button:hover{
    background-color: black;
    color: yellow;
  }
  
  #todos {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #todos li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid yellow;
    background-color: black;
    color: white;
    border-radius: 10px;
  }
  
  #todos li span {
    flex: 1;
  }
  
  #todos li button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
  }
  